.button {
  height: 100%;
  background: transparent;
  border-radius: 25%;
  aspect-ratio: 1/1;
  cursor: pointer;
  &:active {
    filter: opacity(.8);
  }
  &:disabled {
    filter: opacity(.8);
    cursor: not-allowed;
  }
}